<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form
      action="/product/products"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="text" name="title" placeholder="title" />
      <input type="text" name="price" placeholder="price" />
      <input type="text" name="qty" placeholder="qty" />

      <select name="categoryId" required>
        <option value="">Select Category</option>
        <% category.forEach(cat => { %>
        <option value="<%= cat._id %>"><%= cat.title %></option>
        <% }) %>
      </select>
      
      <input type="file" name="image" placeholder="image" />
      <input type="submit" />
    </form>

    <table border="1">
      <tr>
        <th>Title</th>
        <th>Price</th>
        <th>Qauntity</th>
        <th>category</th>
        <th>Image</th>
      </tr>

      <% data.map((el,i) => {%>
        <tr>
          <td><%= el.title%></td>
          <td><%= el.price%></td>
          <td><%= el.qty%></td>
          <td><%= el.categoryId.title%></td>
          <td><img src="<%= el.image%>" alt="<%= el.title%>" height="100px" width="100px"></td>
        </tr>
        <%})%>
    </table>
  </body>
</html>
